# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Temporary / OS
.tmp.drivedownload/
.tmp.driveupload/
*.tmp
Thumbs.db
Desktop.ini
.DS_Store

# Secrets / Configs
.env
*.secret
credentials.json
token.json
